In [1]:
import pandas as pd 
BigData = pd.read_csv("BigData.csv")

In [2]:
BigData.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3P2HIOQCIN5ZU,1,0,0,N,Y
1,R12VVR0WH5Q24V,5,0,0,N,Y
2,RNCCKB6TV5EEF,4,0,0,N,Y
3,R2NZXYIVCGB13W,5,0,6,N,Y
4,R2EQ1TG9IT3OEQ,3,0,0,N,Y

In [10]:
#Filter the data and create a new DataFrame or table to retrieve all the rows where the total_votes count is equal to or greater than 20 to pick reviews that are more likely to be helpful and to avoid having division by zero errors later onnewdf = selectdf.filter (total_votes)
filter_df=BigData[BigData["total_votes"]>=20]

In [14]:
#Filter the new DataFrame or table created in Step 1 and create a new DataFrame or table to retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.
helpful_review = filter_df.filter(filter_df['helpful_votes']/filter_df['total_votes'] >= 0.5)
helpful_review

Empty DataFrame
Columns: []
Index: [218, 557, 560, 909, 1232, 2069, 2256, 2386, 3073, 3329, 3698, 3842, 3894, 3927, 4143, 4582, 4613, 4982, 5372, 5397, 5467, 5807, 6017, 6416, 6552, 7019, 7051, 7066, 7986, 8004, 8320, 8703, 8706, 9000, 9128, 9376, 9681, 9829, 10621, 10876, 11077, 11246, 11283, 11716, 11906, 12238, 12648, 13594, 13827, 14059, 15173, 15347, 15530, 15715, 16098, 16120, 16270, 16275, 16646, 16737, 16976, 17097, 17386, 17432, 17459, 17635, 17665, 17744, 17798, 18038, 18140, 18176, 18376, 18506, 18946, 19579, 19662, 19875, 20491, 20617, 21022, 21068, 21344, 21450, 22048, 22345, 22608, 22741, 23677, 23704, 24152, 24244, 24892, 24975, 25068, 25192, 25233, 25645, 25709, 25789, ...]

[27884 rows x 0 columns]

In [16]:
filter_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
218,R37F42INKX7L9K,5,45,49,N,Y
557,R2EHKYNEP8WVSR,5,25,25,N,Y
560,RXOS7BHID0UHL,5,16,27,N,N
909,R33HHGFPB403GM,5,19,21,N,Y
1232,RY9O9XNLP464N,2,19,22,N,Y

In [17]:
#Filter the DataFrame or table created in Step 2, and create a new DataFrame or table that retrieves all the rows where a review was written as part of the Vine program (paid), vine == 'Y'.

filter_df_paid = filter_df[filter_df['vine']=='Y']

In [22]:
filter_df_paid["review_id"].count()

22

In [23]:
#Repeat Step 3, but this time retrieve all the rows where the review was not part of the Vine program (unpaid), vine == 'N'
filter_df_unpaid = filter_df[filter_df['vine']=='N']

In [33]:
filter_df_unpaid["review_id"].count()

27862

In [24]:
#Determine the total number of reviews
total_reviews = filter_df['total_votes'].count()
total_reviews

27884

In [25]:
#the number of 5-star reviews,  the percentage of 5-star reviews for the two types of review (paid vs unpaid).

totalfivestarreviews = filter_df[filter_df["star_rating"]==5.0]["total_votes"].count()
totalfivestarreviews

14594

In [26]:
#the percentage of 5-star reviews for the two types of review for paid
totalpaidfivestarreviews = filter_df_paid[filter_df_paid["star_rating"]==5.0]["review_id"].count()

In [37]:
filter_df_unpaid["review_id"].count()

27862

In [27]:
#the percentage of 5-star reviews for the two types of review unpaid
totalunpaidfivestarreviews = filter_df_unpaid[filter_df_unpaid["star_rating"]==5.0]["review_id"].count()

In [28]:
percentpaid=(totalpaidfivestarreviews / totalfivestarreviews) *100
percentpaid

0.08907770316568453

In [29]:
percentunpaid=(totalunpaidfivestarreviews / totalfivestarreviews) *100
percentunpaid

99.91092229683431

In [31]:
filter_df_paid[filter_df_paid["star_rating"]==5.0]

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
270349,R2N45ZKRRZS856,5,21,22,Y,N
306676,R5OMLMK13A8NS,5,34,38,Y,N
1231743,R1SPWJDHUWWC5E,5,88,98,Y,N
1243026,R1X6M5XA3FT98W,5,24,26,Y,N
1268364,R37VCW6HA0Z72T,5,27,28,Y,N
1290559,R2XRYNV2SY3ZKL,5,53,56,Y,N
1312914,R2QVTDYYLTP8SL,5,21,24,Y,N
1327911,R3SEZS7BZEC69Y,5,16,20,Y,N
1509983,R1307JMPUEQXOW,5,31,35,Y,N
2373630,RBMDYE7LUH9FI,5,26,32,Y,N
2439075,R1N4W961QV59BV,5,25,34,Y,N
2462716,R2AT1A0VUSY955,5,22,24,Y,N
3791315,RMFBF4KEBW9RK,5,37,43,Y,N

In [32]:
filter_df_unpaid[filter_df_unpaid["star_rating"]==5.0]

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
218,R37F42INKX7L9K,5,45,49,N,Y
557,R2EHKYNEP8WVSR,5,25,25,N,Y
560,RXOS7BHID0UHL,5,16,27,N,N
909,R33HHGFPB403GM,5,19,21,N,Y
2069,R2VP11C28JAEZF,5,30,30,N,Y
...,...,...,...,...,...,...
4366765,R7M3UQX8B04NM,5,20,21,N,N
4366771,R1UYT6MT2IOAJN,5,23,24,N,N
4366804,R8FUPKU9V9O8C,5,3,28,N,N
4366886,R20WGBU79NREU,5,14,20,N,N
4366893,R2JC45DHFX613N,5,6,24,N,N